$main-bg: rgba(0, 0, 0, 0.95);

$main-color: rgb(27, 219, 187, 0.92);

$unvisited-color: transparent;
$visited-main-color: rgba(255, 255, 255, 0.65);
$visited-second-color: rgba(173, 211, 255, 0.58);
$visited-third-color: rgba(128, 88, 239, 0.57);

$neighbour-color: rgba(104, 238, 243, 0.6);
$wall-color: rgb(255, 255, 255);
$path-color: rgba(27, 219, 187, 0.92);

$board-border-color: #1c96bb70;

$text-color: rgb(255, 255, 255);
$text-color-active: rgb(27, 219, 187, 0.92);
$text-color-disabled: grey;

$icon-color: rgba(255, 255, 255, 0.79);
